.form_div {
  display: flex;
  justify-content: center;
  padding: 20px;
}

.input_form input {
  width: 100%;
  height: 50px;
  border-radius: 5px;
  border: 1px solid #ccc;
  padding: 0 10px;
  font-size: 16px;
  font-family: "Roboto", sans-serif;
  outline: none;
}

.input_form input::placeholder {
  text-align: center;
}
